<!doctype html>
<html lang="en">
  <head>

    <title> <%- title %> </title> 
    <link href="/css/stylesHome.css" rel="stylesheet">
    <%- include('../partials/importBootstrap')%>
    
  </head>

  <body>
    <header style="max-width: 100%">
      <%- include('../partials/headers')%>
    </header>
    

    <div>
      <img src="/imgDeBienvenida.svg" class="img-fluid" style="max-width: 100%"/>
    </div>

    <!-- Info de Envíos -->
    <section class="container-fluid text-center info" style="max-width: 100%">

      <article class="col">
        <img src="/bicycle.svg" class="img-fluid"/>
        <p class=" lh-sm fw-semibold">Envíos a domicilio gratis en Guernica. <br> Sin monto mínimo.</p>
      </article>

      <article class="col">
        <img src="/train-front.svg" class="img-fluid" style="margin: 8px;"/>
        <p class="lh-sm fw-semibold">Entregas en estaciones del tren Roca. <br> Sin monto mínimo.</p>
      </article> 

      <article class="col">
        <img src="/question.svg" class="img-fluid" style="margin: 8px"/>
        <p class="lh-sm fw-semibold">Consultá por tu localidad <br> y los costos de envío.</p>
      </article> 
    </section> 
  
      
    <!-- Sección categorías -->
    <section style="margin: 0px 30px">
      <div>
        <h2 class="text-center mb-5 mt-3 "> Categorías </h2>
      </div>

      
      <article class= "row justify-content-start" >
        <% categories.forEach(function(value) { %>        
        <div class="col-3 card-category">        
            <a href="<%-value.link %>" class= "text-decoration-none" target="_blank">            
            <img src= "<%- value.img %>"  class="img-category">
            <h5 class=" text-center text-dark "> <%- value.category %></h5>
            </a>          
        </div>
        <% }) %>
      </article>
      
      <div style="text-align: right;">
        <a href="/categorias" class="text-decoration-none link"> Ver más</a>
      </div>
    </section>

    <!-- Sección categorías -->
    <section style="margin: 0px 30px">
      <div>
        <h2 class="text-center mb-5 mt-3 "> Productos destacados </h2>
      </div>

      
      <article class= "row text-center" >
        <% categories.forEach(function(value) { %>        
        <div class="col-3 card-category">        
            <a href="<%-value.link %>" class= "text-decoration-none" target="_blank">            
            <img src= "<%- value.img %>"  class="img-category">
            <h5 class=" text-center text-dark "> <%- value.category %></h5>
          </a>          
        </div>
        <% }) %>
      </article>
      
      <div style="text-align: right;">
        <a href="/categorias" class="text-decoration-none link"> Ver más</a>
      </div>
    </section>
     
  
      
      <footer>
      <%- include('../partials/footers')%>
      </footer>   
  </body>

  </html>